@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
   
body {
    font-family: 'HallymGothic-Regular', Arial, Helvetica, sans-serif;
    color: #333333;
}
a {
    text-decoration: none;
}
:root {
    --main-color: #546bbb;
    --sub_color1: #eff4fa;
    --sub_color2: #fccd5d;
}

/* 헤더 */
.top-wrap {
    width: 1200px;
    margin: 0 auto;
    line-height: 40px;
}
.top-wrap::after { display: block; clear: both; content: ""; }
.top-link {
    float: left;
}
.top-link > li {
    float: left;
    font-size: 14px;
    position: relative;
    margin-right: 9px;
    padding-right: 9px;
}
.top-link > li::after {
    position: absolute;
    right: 0;
    content: "";
    display: block;
    width: 1px;
    bottom: 13px;
    top: 13px;
    background: #333333;
}
.top-link > li:last-child::after {
    display: none;
}
.top-link > li > a {
    color: #333333;
    display: block;
}
.top-link > li.active > a {
    color: var(--main-color);
}
.top-utill {
    float: right;
}
.top-utill > li {
    float: left;
    position: relative;
    font-size: 14px;
    margin-right: 9px;
    padding-right: 9px;
}
.top-utill > li > a > img {
    padding-top: 8px;
}
.top-utill > li::after {
    position: absolute;
    right: 0;
    content: "";
    display: block;
    width: 1px;
    bottom: 13px;
    top: 13px;
    background: #333333;
}
.top-utill > li:first-child::after {
    display: none;
}
.top-utill > li:last-child::after {
    display: none;
}
.top-utill > li > a {
    display: block;
    color: #333333;
}
.language {
    width: 14px;
    height: 11px;
}
.language_go {
    background: transparent;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}
.middle-wrap {
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 10px;
}
.middle-wrap::after { display: block; clear: both; content: ""; }
.logo {
    position: absolute;
    left: 0;
}
.logo > a {
    margin-top: 3px;
    display: block;
}
.weather {
    position: absolute;
    right: 0;
}
.search-box {
    width: 424px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 75px;
}
.search {
    width: 424px;
    height: 37px;
    border: 2px solid var(--main-color);
    box-sizing: border-box;

}
.search-button {
    position: absolute;
    display: block;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    border: none;
    width: 20px;
    height: 20px;
    background-image: url('../images/search.png');
    cursor: pointer;
}
.weather {
    margin-top: 10px;
}
.search-button > span { display: none; }
.weather > li {
    position: relative;
    line-height: 27px;
}
.weather > li:last-child {
    margin-top: 10px;
    line-height: 25px;
}
.weather > li:first-child::before {
    position: absolute;
    width: 28px;
    height: 27px;
    content: "";
    display: block;
    background: url('../images/utility2.png') no-repeat center;
    top: 0;
    left: -35px;
} 
.weather > li:last-child::before {
    position: absolute;
    width: 29px;
    height: 25px;
    content: "";
    display: block;
    background: url('../images/utility3.png') no-repeat center;
    top: 0;
    left: -35px;
} 
.weather > li > a {
    color: #333333;
}

/* 내비게이션 */
.nav-wrap {
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-color);
}
.navi {
    width: 1200px;
    margin: 0 auto;
}
.navi::after { display: block; clear: both; content: ""; }
.navi > li {
    float: left;
    line-height: 60px;
    font-size: 20px;
    margin-right: 127px;
}
.navi > li:first-child {
    margin-left: 50px;
}
.navi > li:last-child {
    margin-right: 0;
}
.navi > li > a {
    display: block;
    color: #ffffff;
}
.submenu-bg {
    position: fixed;
    top: 192px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 980;
    display: none;
}
.submenu-wrap {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: var(--sub_color1);
    z-index: 990;
    left: 0;
    display: none;
}
.menu-title {
    position: absolute;
    top: 3em;
    left: 3em;
}
.top-submenu {
    width: 1200px;
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}
.top-submenu > li {
    font-size: 16px;
    background-color: #333333;
}
.top-submenu > li:first-child {
    background-color: var(--sub_color1);
}
.topNavTit {
    position: absolute;
    width: 160px;
    top: 0;
    left: -160px;
    bottom: 0;
    background: url('../images/submenu_bg1.png') no-repeat left bottom;
}
.topNavTit > h2 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}
.top-submenu > li::after { display: block; clear: both; content: ""; }
.top-submenu > li > a {
    width: 200px;
    float: left;
    color: #ffffff;
    padding-left: 5px;
    box-sizing: border-box;
    display: block;
}
.submenu {
    float: right;
    width: 1000px;
    height: 60px;
    background-color: #ffffff;
    border-bottom: 1px dashed #333333;
    box-sizing: border-box;
}
.last {
    border-bottom: none;
}
.over {
    height: 120px;
}
.submenu > li {
    float: left;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}
.submenu > li::before {
    display: block;
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--main-color);
    left: -6px;
    top: 50%;
    transform: translateY(-50%);
}
.no-data > li::before {
    display: none;
}
.submenu > li > a {
    color: #333333;
}
.no-data > li {
    font-size: 0;
}
.sub2 {
    height: 360px;
}
.top2 {
    background: url('../images/submenu_bg2.png') no-repeat left bottom;
}
.sub3 {
    height: 480px;
}
.top3 {
    background: url('../images/submenu_bg3.png') no-repeat left bottom;
}
.sub6 {
    height: 480px;
}
.top4 {
    background: url('../images/submenu_bg4.png') no-repeat left bottom;
}
.top5 {
    background: url('../images/submenu_bg5.png') no-repeat left bottom;
}
.top6 {
    background: url('../images/submenu_bg6.png') no-repeat left bottom;
}
/* 헤더 끝 */

/* 바디 */
.location-box {
    background-color: var(--sub_color1);
}
.location {
    width: 1200px;
    margin: 0 auto;
    text-align: end;
}
.location > li {
    line-height: 50px;
    display: inline-block;
    font-size: 14px;
    margin-right: 2px;
}
.location > li:last-child {
    margin-right: 0;
}
.body-wrap {
    width: 1200px;
    margin: 0 auto;
}
.body-wrap::after { display: block; clear: both; content: ""; }
.left-menu {
    float: left;
    width: 224px;
}
.gnb > h1 {
    width: 224px;
    background-color: #239559;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    line-height: 174px;
}
.gnb_menu > li {
    width: 100%;
    background-color: var(--sub_color1);
    line-height: 55px;
    border: 1px solid #cdcdcd;
    border-top: none;
    box-sizing: border-box;
    position: relative;
}
.gnb_menu > li > a {
    color: #239559;
    display: block;
    padding-left: 10px;
    box-sizing: border-box;
}
.gnb_submenu {
    background-color: #ffffff;
    border-top: 1px solid #cdcdcd;
    box-sizing: border-box;
    display: none;
}
.gnb_submenu > li {
    line-height: 40px;
}
.gnb_submenu > li:hover {
    text-decoration: underline;
} 
.gnb_submenu > li > a {
    color: #333333;
    display: block;
    padding-left: 10px;
    box-sizing: border-box;
}
.gnb_submenu > li.active > a {
    color: #239559;
    text-decoration: underline;
}
button > span {
    display: none;
}
.open_gnb_sub {
    border: none;
    background: transparent;
    width: 14px;
    height: 11px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    background-image: url('../images/sub_button_03.png');
    transform: rotate(-90deg);
    cursor: pointer;
}
.open_gnb_sub:hover {
    transform: rotate(0);
}
.gnb_menu > li.active > button {
    transform: rotate(0);
}
.cont-wrap {
    float: left;
    width: 976px;
    margin-right: -224px;
}
.cont-header::after { display: block; clear: both; content: ""; }
.cont-title {
    float: left;
    line-height: 140px;
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    margin-left: 20px;
}
.cont-search-box {
    float: right;
    margin-top: 75px;
}
.cont-search-box > select {
    width: 100px;
    height: 30px;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
}
.cont-search-box > input {
    width: 200px;
    height: 30px;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
}
table {
    width: 956px;
    margin-left: 20px;
}
thead {
    background-color: var(--sub_color1);
    border: 1px solid #cdcdcd;
    line-height: 45px;
    box-sizing: border-box;
}
tbody {
    width: 100%;
    line-height: 60px;
}
tbody > tr {
    border: 1px solid #cdcdcd;
    border-top: none;
    text-align: center;
}
.td-number {
    padding: 0px 10px;
}
.td-title {
    text-align: left;
    padding-left: 20px;
}
.td-title > a {
    color: #333333;
}
.paginate {
    text-align: center;
    padding: 66px 0px 150px 0px;
}
.paginate > a > span {
    display: none;
}
.paginate > strong {
    width: 30px;
    line-height: 28px;
    display: inline-block;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    vertical-align: middle;
    color: var(--main-color);
    background-color: var(--sub_color1);
}
.paginate > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    color: #333333;
    vertical-align: middle;
}
.pagefirst {
    background: url('../images/page_first.png') no-repeat center; 
}
.pagePrev {
    background: url('../images/page_prev_09.png') no-repeat center;
} 
.pageNext {
    background: url('../images/page_next_13.png') no-repeat center;
} 
.pageEnd {
    background: url('../images/page_end_11.png') no-repeat center;
}
.qr-box {
    width: 950px;
    background-color: #eeeeee;
}
.qr-info::after { display: block; clear: both; content: ""; }
.qr-info > dl {
    float: left;
    width: 510px;
    padding: 20px;
}
.qr-info > dl > dt {
    line-height: 40px;
}
.qr-info > dl > dd {
    color: #8d8d8d;
    font-size: 14px;
    padding-left: 10px;
}
.qr {
    float: right;
    width: 78px;
    height: 77px;
    background: url('../images/qr_07.png');
    margin: 20px 50px 0px 0px;
}
.origin-box {
    width: 900px;
    background-color: #dfdfdf;
}
.origin-box::after { display: block; clear: both; content: ""; }
.origin-img {
    display: block;
    float: left;
    padding: 10px 50px 10px 20px;
}
.origin-box > p {
    float: left;
}
.origin-box > p > strong {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
.origin-box > p > span {
    display: block;
    color: #888888;
    line-height: 34px;
}
.adminArea > dl {
    margin-left: 190px;
    padding-bottom: 30px;
}
.adminArea > dl > dt {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 58px;
    margin-left: 20px;
}
.adminArea > dl > dd {
    display: inline-block;
    font-size: 14px;
    color: #8d8d8d;
    line-height: 58px;
    margin-left: 10px;
}

/* 푸터 */
footer {
    margin-top: 300px;
    background-color: var(--sub_color1);
}
.footer-wrap {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    line-height: 25px;
}
.footer-wrap > select {
    width: 150px;
    height: 30px;
    border: 1px solid var(--main-color);
    display: inline-block;
    vertical-align: top;
}
.footer-wrap > button {
    width: 62px;
    height: 30px;
    color: #ffffff;
    border: none;
    background-color: var(--main-color);
    display: inline-block;
    cursor: pointer;
}
.bottom_util {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}
.bottom_util > li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.bottom_util > li::after {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    right: -10px;
    top: 6px;
    bottom: 6px;
    background-color: #333333;
}
.bottom_util > li:last-child::after {
    display: none;
}
.bottom_util > li > a {
    color: #333333;
}
.copy {
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.btlogo {
    text-align: end;
    margin-top: 40px;
    padding-bottom: 10px;
}
.bt-logo {
    display: block;
    width: 188px;
    margin: 0 auto;
}