@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    font-family: 'NanumSquare', Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --main-color: #3f6acc;
    --sub_color1: #e3dbca;
    --sub_color2: #F4F0F1;
}

/* 헤더 */
header { width: 100%;  position: relative; }
.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 99;
}
.nav {
    width: 750px;
    margin: 0 auto;
    z-index: 99;
}
.nav::after { display: block; clear: both; content: ""; }
.nav > li {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 66px;
    margin-right: 70px;
}
.nav > li > a {
    display: block;
    color: #333333;
}
.nav > li > a:hover { color: var(--main-color); }
.nav > li:last-child { margin-right: 0; }
.btn-allmenu {
    position: absolute;
    top: 15px;
    right: 20px;
    background-image: url('../images/hamberger.png');
    width: 40px;
    height: 27px;
    border: none;
    z-index: 99;
    cursor: pointer;
}
.btn-allmenu > span { display: none; }
.submenu_bg {
    width: 100%;
    height: 110px;
    position: absolute;
    left: 0;
    top: 66px;
    z-index: 110;
    background-color: var(--main-color);
    display: none;
}
.submenu {
    width: 750px;
    display: none;
    margin: 0 auto;
}
.submenu::after { display: block; clear: both; content: ""; }
.submenu > li {
    float: left;
    line-height: 50px;
    margin-right: 20px;
    position: relative;
}
.submenu > li::after {
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: -10px;
    box-sizing: border-box;
}
.submenu > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #ffffff;
    transition: all .3s ease-out;
}
.submenu > li > a:hover::after {
    width: 100%;
}
.submenu > li > a {
    color: #ffffff;
    display: block;
    position: relative;
}

/* 슬라이드 */
#slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}
#slider > #slides { width: 500%;  margin: 0; padding: 0; }
#slider > #slides::after { display: block; clear: both; content: ""; }
.slide {
    width: 20%;
    float: left;
    height: 550px;
    position: relative;
    overflow: hidden;
}
.a1 {
    display: block;
    width: 305px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    left: 360px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid #ffffff;
    background-color: #40c1c5;
    color: #ffffff;
    transition: 300ms ease-in-out;
}
.a2 {
    display: block;
    width: 305px;
    height: 50px;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid #ffffff;
    background-color: #c1c7c9;
    color: #ffffff;
    right: 360px;
    bottom: 100px;
    transition: 300ms ease-in-out;
}
.a3 {
    display: block;
    width: 305px;
    height: 50px;
    position: absolute;
    bottom: 100px;
    left: 360px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid #f0f492;
    background-color: #f0a042;
    color: #f0f492;
    transition: 300ms ease-in-out;
}
.slide-wrap > a:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}
.slide-wrap {
    width: 1920px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.slide-wrap > img {
    width: 1920px;
    display: block;
}
#slider-nav {
    position: absolute;
    bottom: 5px;
    width: 100%;
}
#slider-nav-dot-con {
    text-align:center;
}
.slider-nav-dot {
    border: 0.15em solid var(--main-color);
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display:inline-block;
    border-radius:50%;
    cursor: pointer;
    margin-right: 10px;
}
.slider-nav-dot:hover {
    background: var(--main-color);
}

/* 인사말, 바로가기 */
.wrap {
    width: 1200px;
    margin: 0 auto;
}
.greeting { margin-top: 208px; }
.greeting::after { display: block; clear: both; content: ""; }
.greeting_info {
    width: 450px;
    float: left;
}
.greeting_info > h1 {
    font-size: 45px;
    font-weight: bold;
}
.greeting_info > h2 > span {
    font-size: 25px;
    margin-right: 5px;
}
.greeting_info > h2 {
    font-size: 30px;
    margin-top: 33px;
}
.greeting_info > dl {
    margin-top: 50px;
    font-size: 20px;
}
.greeting_info > dl > dt { margin-bottom: 16px; }
.greeting_info > dl > dd { line-height: 30px; }
.greeting_info > a {
    display: block;
    width: 186px;
    height: 42px;
    border-radius: 20px;
    border: 1px solid #333333;
    box-sizing: border-box;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    color: #333333;
    margin-top: 23px;
    transition: 300ms ease-in-out;
}
.greeting_info > a:hover {
    background: var(--main-color);
    color: #ffffff;
}
.greeting_img {
    float: right;
}
.contents-box { margin-top: 100px; margin-bottom: 100px; }
.contents-box::after { display: block; content: ""; clear: both; }
.contents-box > li {
    float: left;
    margin-right: 20px;
}
.contents-box > li > a {
    width: 285px;
    display: block;
    overflow: hidden;
}
.contents-box > li > a > img { display: block; }
.contents-box > li > a > img:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}
.contents-box > li:last-child { margin-right: 0; }
.contents-box > li > a > span {
    width: 285px;
    background-color: #666666;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    line-height: 57px;
    margin-top: 20px;
    display: inline-block;
}

/* 배너 */
#main-bg{
    width: 100%; height: 500px;
    background-image: url('../images/main_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
#main-bg > h2 {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
#hany_txt {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transition: 0.22s;
    color: #ffffff;
    font-weight: bold;
}

/* 공지사항, 수술후기, 연락처 */
#info-box {
    width: 1200px;
    margin: 0 auto;
    margin-top: 75px;
}
#info-box::after { clear: both; content: ""; display: block; }
#info-box > div { float: left; }
#notice-box {
    width: 380px;
    height: 400px;
    margin-right: 20px;
    background-color: var(--sub_color2);
    position: relative;
}
#notice-box > h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-left: 22px;
    margin-top: 18px;
}
#notice {
    margin-top: 25px;
    margin-left: 22px;
}
#notice > li {
    margin-bottom: 15px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#notice > li > a {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    display: block;
}
#notice > li > a:hover {
    color: #6f6f6f;
}
#notice > li > a > p {
    line-height: 30px;
    color: #333333;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}
.more {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 30px;
}
#review-box {
    width: 380px;
    height: 400px;
    margin-right: 20px;
    background-color: var(--sub_color2);
    position: relative;
    margin-right: 20px;
}
#review-box > h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-left: 22px;
    margin-top: 18px;
}
#review {
    margin-top: 25px;
    margin-left: 22px;
}
#review > li {
    margin-bottom: 15px;
    white-space: nowrap;
}
#review > li > a {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    display: block;
}
#review > li > a:hover {
    color: #6f6f6f;
}
#review > li > a > p {
    line-height: 30px;
    color: #333333;
    font-size: 14px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}
#contact {
    width: 380px;
    height: 400px;
    background-image: url('../images/contents_bg.jpg');
}
#contact > h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    margin-left: 22px;
    margin-top: 18px;
}
#contact > h3 {
    font-size: 40px;
    font-weight: bold;
    color: var(--main-color);
    margin-top: 120px;
    margin-left: 22px;
}
#contact > dl {
    width: 260px;
    margin: 0 auto;
    margin-top: 50px;
}
#contact > dl::after { display: block; clear: both; content: ""; }
#contact > dl > dt {
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
    float: left;
    margin-bottom: 20px;
}
#contact > dl > dd {
    float: right;
    font-size: 20px;
    color: #333333;;
    margin-bottom: 20px;
}

/* 푸터 */
footer {
    margin-top: 300px;
    width: 100%;
    text-align: center;
    background: var(--sub_color1);
}
.bottom_util {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
    padding: 20px 0 20px 0;
}
.bottom_util > li {
    display: inline-block;
    padding: 0px 10px;
}
.bottom_util > li > a {
    color: #6f6f6f;
    font-size: 13px;
}
.bt_logo {
    width: 100%;
}
.bt_logo > h2 {
    padding: 30px 0 30px 0;
}
.copy {
    width: 100%;
}
.copy_info {
    margin: 0 auto;
    font-size: 13px;
    color: #6f6f6f;
    width: 670px;
    line-height: 20px;
    padding-top: 30px;
}

/* 모달 레이어 */
.modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 990;
    display: none;
}
.modal-up {
    width: 1200px;
    height: 550px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.modal-up::after { display: block; clear: both; content: ""; }
.title-bar {
    float: left;
    background-color: var(--sub_color1);
    height: 100%;
    width: 200px;
    text-align: center;
    line-height: 550px;
}
.menu-wrap {
    float: right;
    width: 1000px;
    height: 100%;
    position: relative;
}
.modal-menu {
    width: 800px;
    margin-left: 100px;
    margin-top: 50px;
}
.modal-menu::after { display: block; clear: both; content: ""; }
.modal-menu > li {
    width: 100%;
    float: left;
    line-height: 50px;
    border-top: 1px #cdcdcd dotted;
}
.modal-menu > li:first-child { border-top: none; }
.modal-menu > li > h3 {
    display: inline-block;
    font-size: 18px;
    color: var(--main-color);
    position: relative;
    font-weight: bold;
}
.modal-menu > li > h3::after {
    display: block;
    position: absolute;
    top: 25px;
    left: 130px;
    width: 45px;
    height: 1px;
    content: '';
    background: var(--main-color);
}
.modal-menu > li > ul {
    float: right;
    width: 600px;
}
.modal-menu > li > ul > li {
    float: left;
    line-height: 50px;
    margin-right: 40px;
}
.modal-menu > li > ul > li > a {
    font-size: 15px;
    color: #333333;
    position: relative;
}
.modal-menu > li > ul > li > a:not(.last)::after {
    display: inline-block;
    content: '·';
    position: absolute;
    right: 0px;
    margin-right: -20px;
    vertical-align: 2px;
    box-sizing: border-box;
}
.btnClose {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.btnClose > span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 32px;
    height: 2px;
    margin: -2px 0 0 -16px;
    background: #404040;
}
.btnClose > .line1 {
    transform: rotate(45deg);
}
.btnClose > .line2 {
    transform: rotate(-45deg);
}


